* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #182724;
  background-image: url("streets02.png");
  background-repeat: repeat-y;
}


#sign-up {
  background-color: #01A78F;
}

.form {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 28%;
}

.error {
  font-size: 1em;
  margin-top: 0.3em;
  color: red;
}

.form input, button {
  width: 19em;
  height: 3em;
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25em;
  font-size: 1.2em;
  border-radius: 0.3em;
  font-family: 'Montserrat', sans-serif;
}

select {
  width: 19em;
  padding: 0.9em;
  margin: 1.1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

#sign-up {
  border-radius: 3.4em;
  font-size: 1.7em;
  text-align: center;
  width: 15em;
  height: 2.5em;
  line-height: 0px;
  vertical-align: middle;
  color: white;
  font-weight:400;
  padding: 0;
}