.b5-stdbutton{
    display: inline;
    float:right;
    padding: 16px;
    border-radius:32px;
    background-color: hsl(160, 100%, 50%);
    font-family:'Verdana';
    font:bolder;
    font-size:24px;
    box-shadow: 2px;
}
