* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #182724;
  background-image: url("streets02.png");
  background-repeat: repeat-y;
}

#sign-in {
  background-color: #01A78F;
}

.form {
  display: flex;
  flex-flow: column;
  text-align: center;
  position: absolute;
  bottom: 0px;
  top: 300px;
  width: 100%;
  background-color: #05CAAD;
  border-radius: 30px;
  padding-top: 50px;
}

#image {
  background-image: url("google-logo.png");
  height: 37px;
  width: 37px;
  margin-left: 5px;
}

#logo {
  background-image: url("Logo.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 256px;
  width: 243px;
  
}

.error {
  font-size: 1em;
  margin-top: 0.3em;
  color: red;
}

.form input, button {
  width: 19em;
  height: 3em;
  margin: 0.8em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25em;
  font-size: 1.2em;
  border-radius: 0.3em;
  font-family: 'Montserrat', sans-serif;
}

#sign-in {
  border-radius: 3.4em;
  font-size: 1.7em;
  text-align: center;
  width: 10em;
  height: 2em;
  line-height: 0px;
  vertical-align: middle;
  color: white;
  font-weight:400;
  padding: 0;
}

#sign-up, #btn-google {
  border-radius: 3.4em;
  font-size: 1.5em;
  text-align: center;
  width: 17em;
  height: 2.5em;
  line-height: 0px;
  vertical-align: middle;
  color: white;
  padding: 0;
  background-color: #1B9583;
}

#btn-google  {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

#btn-google strong {
  padding-top: 20px;
  text-align: center;
  padding-left: 17px;
}
p {
  color:black;
}

h4:before, h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid white;
  margin: auto;
}

h4 {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: x-large;
}

